src/main/mule/blend-template-connector-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
    xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <apikit:config name="blend-template-connector-api-config" api="blend-template-connector-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="blend-template-connector-api-main">
        <http:listener path="/api/*" config-ref="main_listener">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="DD/Sentry" doc:id="7a488273-f594-4abf-b684-1ff0a704a190">
            <ee:message >
            </ee:message>
            <ee:variables >
                <ee:set-variable variableName="sentry"><![CDATA[%dw 2.0
output application/json
var intgType = attributes.headers['intg-type'] default ""
var requestUrl = attributes.rawRequestPath default "" replace /b[0-9a-f]{8}b-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-b[0-9a-f]{12}b/ with("{id}")
replace /[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+/ with("{id}")
---
{
	"tenantInstance": attributes.headers['blend-target-instance'] default "",
	"intgType": intgType,
	"requestUrl": requestUrl,
	"requestMethod": attributes.method default ""
}]]></ee:set-variable>
                <ee:set-variable variableName="dd"><![CDATA[%dw 2.0
output application/java
var requestUrl = attributes.rawRequestPath default "" replace /b[0-9a-f]{8}b-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-b[0-9a-f]{12}b/ with("{id}")
replace /[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+/ with("{id}")
---
{
	"method": attributes.method default "",
	"requestUrl": requestUrl default "",
	"env": p('env') default "",
	"tenantInstance": attributes.headers['tenant'] default "",
	"startTime": now() as Number
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <apikit:router config-ref="blend-template-connector-api-config" />
    </flow>
    <flow name="blend-template-connector-api-console">
        <http:listener path="/console/*" config-ref="main_listener">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="blend-template-connector-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\ping:blend-template-connector-api-config">
        <logger level="INFO" doc:name="Start" doc:id="94e02029-88e9-45a7-af87-d5c204bf1432" message='#[%dw 2.0
output application/json
---
{
tracepoint: "START",
text : "Event received from loan exporter api",
trackingId : vars.dd.trackingId,
tenant: vars.dd.blendTenant default "N/A",
route : vars.dd.route
}]' />
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="ca187e45-db42-42cd-acdb-1a742d18b985">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
status: "200",
message: "Alive"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="End" doc:id="9dc1ab2d-1b47-4efd-b30e-fa1c465a4f53" message='#[%dw 2.0
output application/json
---
{
tracepoint: "START",
text : "Event successfully processed",
trackingId : vars.dd.trackingId,
tenant: vars.dd.blendTenant default "N/A",
route : vars.dd.route
}]' />
		<flow-ref doc:name="Datadog success" doc:id="758b1b5f-8aeb-4220-801e-d1f04efd8a2f" name="global-dd-success"/>
    </flow>
    <flow name="post:\ext\v1\resourcename:application\json:blend-template-connector-api-config">
        <logger level="INFO" doc:name="Start" doc:id="26eaee8f-d9e4-4cd7-b34a-6f56c4a07ff1" message='#[%dw 2.0
output application/json
---
{
tracepoint: "START",
text : "Event received from &lt;customer app name&gt; api",
trackingId : vars.dd.trackingId,
tenant: vars.dd.blendTenant default "N/A",
route : vars.dd.route
}]' />
        <flow-ref doc:name="Flow Reference" doc:id="3203e5d1-3184-49ab-9a4b-f6392c43838f" name="dataExport"/>
        <logger level="INFO" doc:name="End" doc:id="305a4ed6-aff3-443d-b69e-8e60c4366bcf" message='#[%dw 2.0
output application/json
---
{
tracepoint: "START",
text : "Event successfully processed",
trackingId : vars.dd.trackingId,
tenant: vars.dd.blendTenant default "N/A",
route : vars.dd.route
}]' />
		<flow-ref doc:name="Datadog success" doc:id="f76619f8-826b-4ba7-bc82-d67cef42081b" name="global-dd-success" />
    </flow>
</mule>
