src/main/mule/global.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sentry-logger="http://www.mulesoft.org/schema/mule/sentry-logger"
	xmlns:datadog-logger="http://www.mulesoft.org/schema/mule/datadog-logger"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/datadog-logger http://www.mulesoft.org/schema/mule/datadog-logger/current/mule-datadog-logger.xsd
http://www.mulesoft.org/schema/mule/sentry-logger http://www.mulesoft.org/schema/mule/sentry-logger/current/mule-sentry-logger.xsd">
	<flow name="global-dd-success" doc:id="0868336d-0cf5-4378-892c-0fa72351b6ff" >
		<datadog-logger:datadog-log doc:id="26e94969-90cb-463d-8376-741aa2277d52" config-ref="DataDog_Connector_Config" ddHttpStatus="200" metric="mulesoft.http.response.gauge" points="#[now() as Number {unit: 'milliseconds'} - vars.dd.startTime]" blendTenant="#[vars.dd.tenantInstance]" doc:name="Success Guage" route="#[vars.dd.requestUrl]" type="gauge"/>
		<datadog-logger:datadog-log doc:id="d4bc5317-64a3-4124-b549-bf40a99a730c" config-ref="DataDog_Connector_Config" ddHttpStatus="200" points="1" blendTenant="#[vars.dd.tenantInstance]" doc:name="Success Count" route="#[vars.dd.requestUrl]"/>
		<error-handler ref="global-error-handler-ignore" />
	</flow>
	<flow name="global-dd-error" doc:id="fb0f3e4a-4c57-443d-90de-b7c71d9f5741" >
		<datadog-logger:datadog-log doc:id="4a07587e-8ddd-4025-a5e0-d87df4af5194" config-ref="DataDog_Connector_Config" ddHttpStatus="#[if(!isEmpty(vars.httpStatus)) vars.httpStatus else 500]" metric="mulesoft.http.response.gauge" points="#[now() as Number {unit: 'milliseconds'} - vars.dd.startTime]" blendTenant="#[vars.dd.tenantInstance]" doc:name="Error Guage" route="#[vars.dd.requestUrl]" type="gauge"/>
		<datadog-logger:datadog-log doc:id="6d5d4b27-05ff-44a4-aaee-a134f35abbdc" config-ref="DataDog_Connector_Config" ddHttpStatus="#[if(!isEmpty(vars.httpStatus)) vars.httpStatus else 500]" points="#[1]" blendTenant="#[vars.dd.tenantInstance]" doc:name="Error Count" route="#[vars.dd.requestUrl]"/>
		<error-handler ref="global-error-handler-ignore" />
	</flow>
	<flow name="global-sentry-error" doc:id="1d104f3f-e0bd-4ceb-930d-d3fdb17ae035" >
		<sentry-logger:sentry-exception doc:name="Sentry exception" doc:id="cb4c62e4-0fe9-42eb-bcc3-0ee97667ffd2" config-ref="Sentry_Connector_Config" blendTenant="#[vars.sentry.tenantInstance default 'N/A']" intgType="#[vars.sentry.intgType default 'N/A']" requestUrl="#[vars.sentry.requestUrl default 'N/A']" requestMethod="#[vars.sentry.requestMethod default 'N/A']"/>
		<error-handler ref="global-error-handler-ignore" />
	</flow>
</mule> 
