src/main/mule/global-error-handler.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:cloudhub="http://www.mulesoft.org/schema/mule/cloudhub"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/cloudhub http://www.mulesoft.org/schema/mule/cloudhub/current/mule-cloudhub.xsd">
	<flow name="global-send-email-alert" doc:id="05c0d649-536c-4917-bac5-973a2a189613" >
		<ee:transform doc:name="Build email request" doc:id="53a30459-a655-4056-929f-69af719e902e">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
var env = p('env') default ""
var httpCode = error.muleMessage.attributes.statusCode default ""
var timeOccurred = now()
var blendGuid = vars.blendLoanId default ""
var blendInstance = vars.tenantInstance default ""
var numOfRetries = p("externalRequest.long-retry.attempts")
var email_to = if(true)
		[]
	else
		[]	
var email_cc = if(true)
		[]
	else
		[]	
var email_bcc = if(true)
		[]
	else
		[]
---
{
    "email_subject": "Mulesoft INTG_TYPE " ++ env ++ " - Export Failed",
    "email_body": "Loan export <b>failed</b>.<br/><ul><li>HTTP Status Code: " ++ httpCode ++"</li><li>Time occurred: " ++ timeOccurred ++"</li><li>Blend GUID: " ++ blendGuid ++"</li><li>Blend Instance: " ++ blendInstance ++"</li></ul>",
    "email_to": email_to,
    "email_cc": email_cc,
    "email_bcc": email_bcc
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
		<http:request method="POST" doc:name="Send email" doc:id="7ce170ca-628f-4786-98c9-78aad0d2645e" config-ref="mulesoft_msutil_config" path="/email" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="b79be7e2-89ec-41f9-bae9-0481c0d75845" >
				<flow-ref doc:name="Datadog error" doc:id="0c99cefd-4294-4714-b860-30de7885393e" name="global-dd-error" />
				<flow-ref doc:name="Sentry error" doc:id="7f0f294e-5588-40b2-ace1-f1737bc130e0" name="global-sentry-error" />
			</on-error-continue>
		</error-handler>
	</flow>
	<error-handler name="global-error-handler" doc:id="f4a05078-fb7f-4800-a51e-c3b31cf0e6b5">
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="dfa39461-cc0c-4872-a9fd-86b52b4e30bf" type="HTTP:NOT_FOUND, APIKIT:NOT_FOUND">
			<ee:transform doc:name="Build response, set httpStatus" doc:id="ac4d5f10-6194-47c3-b50a-7fb8bc790e02">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "error": "Not found",
  "display": "Not found", // can be updated to provide developers comment to give more context,
  "externalLoanId": "tbd",
  "blendLoanId" : "tbd",
  "transactionId" : correlationId
}]]></ee:set-payload>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
404]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<logger level="ERROR" doc:name="ERROR payload" doc:id="2a2fabd3-fa35-4414-8533-7976688673a1" message="#[payload]"/>
			<flow-ref doc:name="Datadog error" doc:id="3c34eb78-12bc-4cf4-afb6-338946899410" name="global-dd-error" />
			<flow-ref doc:name="Sentry error" doc:id="4c160fc2-eb77-4bb4-8aca-4543b2d38f9f" name="global-sentry-error" />
		</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="c4f6806e-4ed9-41f3-8107-6a1f6433b138" type="APIKIT:BAD_REQUEST, HTTP:BAD_REQUEST">
			<ee:transform doc:name="Build response, set httpStatus" doc:id="e48ebf98-80a8-4827-b000-6e9b09e840cc">
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "error": "Bad Request",
  "display": "Bad Request", // can be updated to provide developers comment to give more context,
  "externalLoanId": "tbd",
  "blendLoanId" : "tbd",
  "transactionId" : correlationId
}]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
400]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<logger level="ERROR" doc:name="ERROR payload" doc:id="1a887e9e-b1db-4e60-9bdf-e278420eeef4" message="#[payload]" />
			<flow-ref doc:name="Datadog error" doc:id="4c7dbc60-590b-4049-88f0-f44bb3f8fec2" name="global-dd-error" />
			<flow-ref doc:name="Sentry error" doc:id="e5e1afab-1290-47b5-b72f-96af5f77df6b" name="global-sentry-error" />
		</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="69a84a47-c3be-4fd3-a6f7-4746efe4ce4e" type="APIKIT:METHOD_NOT_ALLOWED, HTTP:METHOD_NOT_ALLOWED">
			<ee:transform doc:name="Build response, set httpStatus" doc:id="f194c66e-79b5-49ae-a682-8fd761fafcaa">
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "error": "Not Allowed",
  "display": "Not Allowed", // can be updated to provide developers comment to give more context,
  "externalLoanId": "tbd",
  "blendLoanId" : "tbd",
  "transactionId" : correlationId
}]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
405]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<logger level="ERROR" doc:name="ERROR payload" doc:id="ba784f8b-76f9-4860-93ab-dbc062c06d2b" message="#[payload]" />
			<flow-ref doc:name="Datadog error" doc:id="9500c724-3b89-4ef8-a815-2c8e9dbc6324" name="global-dd-error" />
			<flow-ref doc:name="Sentry error" doc:id="6c014f20-aa02-4dcf-9f03-9f94e0d62c6d" name="global-sentry-error" />
		</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="55c77cc1-f7ca-4d72-908a-407cebb09929" type="APIKIT:NOT_ACCEPTABLE, HTTP:NOT_ACCEPTABLE">
			<ee:transform doc:name="Build response, set httpStatus" doc:id="51c4cd4b-abfd-435a-86dd-608a58da4d0a">
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "error": "Not Acceptable",
  "display": "Not Acceptable", // can be updated to provide developers comment to give more context,
  "externalLoanId": "tbd",
  "blendLoanId" : "tbd",
  "transactionId" : correlationId
}]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
406]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<logger level="ERROR" doc:name="ERROR payload" doc:id="d4f4a342-e955-4487-87e1-6a4a6e2bfe9f" message="#[payload]" />
			<flow-ref doc:name="Datadog error" doc:id="b72015e5-9603-48d8-aa4d-8dd4fb020d76" name="global-dd-error" />
			<flow-ref doc:name="Sentry error" doc:id="d6e1f6dc-b879-48e8-baf7-20fb41c73162" name="global-sentry-error" />
		</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b41585e9-e581-4c35-9647-288a89b4283b" type="APIKIT:UNSUPPORTED_MEDIA_TYPE, HTTP:UNSUPPORTED_MEDIA_TYPE">
			<ee:transform doc:name="Build response, set httpStatus" doc:id="cbd32e7a-58e3-4a89-9821-39d7b0c27a48">
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "error": "Unsupported Media Type",
  "display": "Unsupported Media Type", // can be updated to provide developers comment to give more context,
  "externalLoanId": "tbd",
  "blendLoanId" : "tbd",
  "transactionId" : correlationId
}]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
415]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<logger level="ERROR" doc:name="ERROR payload" doc:id="a5c12636-891e-40d3-a3c6-6713e1b9857f" message="#[payload]" />
			<flow-ref doc:name="Datadog error" doc:id="b2d0c125-c676-4f80-88e8-d50d609baa23" name="global-dd-error" />
			<flow-ref doc:name="Sentry error" doc:id="4fad7a4a-8f76-4539-959b-7b97991d1cda" name="global-sentry-error" />
		</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b1d3aa29-6c20-4061-ac03-52f16d2e7780" type="HTTP:TOO_MANY_REQUESTS">
			<ee:transform doc:name="Build response, set httpStatus" doc:id="66a94405-029c-48c0-811b-d557386e73a6">
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "error": "too many Requests",
  "display": "Too many Requests", // can be updated to provide developers comment to give more context,
  "externalLoanId": "tbd",
  "blendLoanId" : "tbd",
  "transactionId" : correlationId
}]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
429]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<logger level="ERROR" doc:name="ERROR payload" doc:id="3903dbef-9c0a-41af-a0d9-de089a8ed72c" message="#[payload]" />
			<flow-ref doc:name="Datadog error" doc:id="cbde2350-8491-42f9-b061-28f97b6b07bc" name="global-dd-error" />
			<flow-ref doc:name="Sentry error" doc:id="d7048185-6d54-4f0c-9bc2-2c319d6cb5ba" name="global-sentry-error" />
		</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="9f92b8ec-62fd-4b2c-b656-fbf567c81543" type="APIKIT:NOT_IMPLEMENTED">
			<ee:transform doc:name="Build response, set httpStatus" doc:id="5f508459-2f57-4fc6-a912-3ebe5373ed6d">
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "error": "Not implemented",
  "display": "Not implemented", // can be updated to provide developers comment to give more context,
  "externalLoanId": "tbd",
  "blendLoanId" : "tbd",
  "transactionId" : correlationId
}]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
501]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<logger level="ERROR" doc:name="ERROR payload" doc:id="2eb33845-52d6-498c-a50e-b59b6842c55f" message="#[payload]" />
			<flow-ref doc:name="Datadog error" doc:id="94b6b78c-1d93-4941-a5ec-1307b5916969" name="global-dd-error" />
			<flow-ref doc:name="Sentry error" doc:id="9ed8940a-4252-40fb-883b-37a87b74bd8e" name="global-sentry-error" />
		</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="fde89aad-0a19-4392-8a04-64845f185d29" type="HTTP:CONNECTIVITY, HTTP:RETRY_EXHAUSTED, HTTP:SERVICE_UNAVAILABLE">
			<ee:transform doc:name="Build response, set emailPayload, httpStatus" doc:id="8925b35e-2345-4ee6-90bf-7eca67c4f776">
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "error": "HTTP Connectivity",
  "display": "HTTP Connectivity", // can be updated to provide developers comment to give more context,
  "externalLoanId": "tbd",
  "blendLoanId" : "tbd",
  "transactionId" : correlationId
}]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
503]]></ee:set-variable>
					<ee:set-variable variableName="emailPayload"><![CDATA[%dw 2.0
output application/json
---
{
	"Failure Message" : "HTTP CONNECTIVITY issue",
	"Time Occurred" : now() as String,
	"Source system" : "Expedite(LOS Name)",
	"Provider" : "Expedite",
	"Blend Instance" : p('secure::blend-msutil.https.tenant'),
	"Blend Loan Id" : vars.applicationId default "N/A",
	"Event Status" : vars.eventStatus,
	"LOS Loan ID" : vars.losId default "N/A",
	"Mule Transaction ID" : correlationId
}]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<logger level="ERROR" doc:name="ERROR payload" doc:id="044c7f9a-6393-4543-b013-d7ea6495defb" message="#[payload]" />
			<flow-ref doc:name="send-email-alert" doc:id="8e63c920-2406-4e5c-8948-919ef2ae5d2e" name="global-send-email-alert"/>
			<flow-ref doc:name="Datadog error" doc:id="7693ad6e-f039-4c07-a1dd-9d53e3176ade" name="global-dd-error" />
			<flow-ref doc:name="Sentry error" doc:id="65687411-679d-43aa-b54e-682b6fd4c6f2" name="global-sentry-error" />
		</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="adf0d084-a637-4f9b-9c47-2e2bfe7724fb" type="HTTP:TIMEOUT">
			<ee:transform doc:name="Build response, set emailPayload, httpStatus" doc:id="ab352ae0-6f00-46e3-9964-241ecb1e5b37">
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "error": "HTTP Timeout",
  "display": "HTTP Timeout", // can be updated to provide developers comment to give more context,
  "externalLoanId": "tbd",
  "blendLoanId" : "tbd",
  "transactionId" : correlationId
}]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
408]]></ee:set-variable>
					<ee:set-variable variableName="emailPayload"><![CDATA[%dw 2.0
output application/json
---
{
	"Failure Message" : "HTTP CONNECTIVITY issue",
	"Time Occurred" : now() as String,
	"Source system" : "Expedite(LOS Name)",
	"Provider" : "Expedite",
	"Blend Instance" : p('secure::blend-msutil.https.tenant'),
	"Blend Loan Id" : vars.applicationId default "N/A",
	"Event Status" : vars.eventStatus,
	"LOS Loan ID" : vars.losId default "N/A",
	"Mule Transaction ID" : correlationId
}]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<logger level="ERROR" doc:name="ERROR payload" doc:id="4d6bf0d7-fd4b-42d5-9b6d-64c81124d6ee" message="#[payload]" />
			<flow-ref doc:name="send-email-alert" doc:id="94425435-2a70-4b4c-a5ab-0368257dd243" name="global-send-email-alert"/>
			<flow-ref doc:name="Datadog error" doc:id="c5607c90-200c-402d-9f96-3fe9bdfd330c" name="global-dd-error" />
			<flow-ref doc:name="Sentry error" doc:id="55a649d3-bcd7-42c7-a20f-ab6fdb80133a" name="global-sentry-error" />
		</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="ecbe6abe-9c81-4bef-b8cf-64133d6ea4a1" type="EXPRESSION" when='error.description contains "MISMO Error"'>
			<ee:transform doc:name="Build response, set emailPayload, httpStatus" doc:id="de1c4816-dc3b-4c88-a8d5-2d6e34ffdbfd">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
var errorMessage = if (error.description contains("Something")) "Something cannot be empty" 
else if (error.description contains("Otherthing")) "Otherthing cannot be empty"
else "Missing Data"
---
{
  "error": errorMessage,
  "display": "SourceSystem = Expedite" ++ "|| ErrorMessage = " ++ errorMessage, // can be updated to provide developers comment to give more context,
  "externalLoanId": "tbd",
  "blendLoanId" : "tbd",
  "transactionId" : correlationId
}]]></ee:set-payload>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="emailPayload"><![CDATA[%dw 2.0
output application/json
var errorMessage = if (error.description contains("DOCUMENT_SETS")) "DOCUMENT_SETS cannot be empty" 
else if (error.description contains("TWPostingType")) "TWPostingType cannot be empty"
else "Missing Data"
---
{
	"Failure Message" : error.errorType.namespace ++ ":" ++ error.errorType.identifier,
	"HTTP Status Code" : 400,
	"Error Response Details" : errorMessage,
	"Time Occurred" : error.errorMessage.payload.dateTime default now(),
	"Source system" : "Expedite",
	"Customer" : "Expedite(LOS System)",
	"eventType": vars.eventType,
	"Blend Instance" : p('secure::blend.tenant')
}]]></ee:set-variable>
					<ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<logger level="ERROR" doc:name="ERROR payload" doc:id="31ca61a4-dbdb-47e2-a62a-332d2c0c7f71" message="#[payload]" />
			<flow-ref doc:name="send-email-alert" doc:id="9dbc1249-ead4-48ea-b739-29cefcc93eb4" name="global-send-email-alert" />
			<flow-ref doc:name="Datadog error" doc:id="57ca2688-35f7-4bb2-a4b6-1f61c4d849cd" name="global-dd-error" />
			<flow-ref doc:name="Sentry error" doc:id="230e4911-89a7-4e6d-939a-8a6581a74abf" name="global-sentry-error" />

		</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="7d144948-8ec2-427b-838f-3b09c26a47c4" type="HTTP:FORBIDDEN, HTTP:NOT_ACCEPTABLE, HTTP:PARSING, HTTP:SECURITY, HTTP:UNAUTHORIZED">
			<ee:transform doc:name="Build response, set httpStatus" doc:id="92b2c9e4-46ce-4979-832d-7db6531da300">
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "error": "HTTP Forbidden",
  "display": "HTTP Forbidden", // can be updated to provide developers comment to give more context,
  "externalLoanId": "tbd",
  "blendLoanId" : "tbd",
  "transactionId" : correlationId
}]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
403]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<logger level="ERROR" doc:name="ERROR payload" doc:id="c9c44d0b-c22f-48dc-8ad2-7cb973babd16" message="#[payload]" />
			<flow-ref doc:name="Datadog error" doc:id="4a84c7a7-7b9d-4a4f-8880-2299467ae908" name="global-dd-error" />
			<flow-ref doc:name="Sentry error" doc:id="68e32039-20d0-4452-b62b-cf53d493aa92" name="global-sentry-error" />
		</on-error-propagate>
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="d493a574-367a-4911-9cf3-54182a539d53" type="ANY">
			<ee:transform doc:name="Build response, set emailPayload" doc:id="8ecb6a8e-829c-4d64-a1e7-1bc74e20f816">
				<ee:message>
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "error": "Internal Server Error",
  "display": "Internal Server Error", // can be updated to provide developers comment to give more context,
  "externalLoanId": "tbd",
  "blendLoanId" : "tbd",
  "transactionId" : correlationId
}]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="emailPayload"><![CDATA[%dw 2.0
output application/json
---
{
	"Failure Message": error.errorType.namespace ++ ":" ++ error.errorType.identifier,
	"HTTP Status Code": error.muleMessage.attributes.StatusCode default 500,
	"Error Response Details": error.description,
	"Time Occurred": error.errorMessage.payload.dateTime default now(),
	"Source system": "Expedite",
	"Customer": "Expedite",
	"Blend Instance": p('secure::blend-msutil.https.tenant'),
	"Reference Package Id": vars.packageId default "",
	"Reference Loan Id": vars.losId default "",
}]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<logger level="ERROR" doc:name="ERROR payload" doc:id="e4305151-f35a-4385-9fb2-86f69a54c57f" message="#[payload]" />
			<flow-ref doc:name="send-email-alert" doc:id="9d5a919d-590c-4c86-a75f-753c23dd26d6" name="global-send-email-alert" />
			<flow-ref doc:name="Datadog error" doc:id="23cc0987-3de7-4cf6-be61-23cab24870bd" name="global-dd-error" />
			<flow-ref doc:name="Sentry error" doc:id="8de6faa6-6c91-4c7f-a9ff-90cfcd2483f5" name="global-sentry-error" />

		</on-error-propagate>
	</error-handler>
	<error-handler name="global-error-handler-ignore" doc:id="8a6c2cb1-4ff7-449c-84e3-266c903521ec" >
		<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="1bafd3c7-5e19-4594-a858-6dce4ba9eb17" >
			<logger level="INFO" doc:name="Ignore error propagation" doc:id="29506216-1f10-4a40-9188-d25288951c74" message='#[error.description default ""]'/>
		</on-error-continue>
	</error-handler>
</mule>
